# Web Scraping
scrapy
scrapy-playwright
scrapy-impersonate==1.1.0  # Bridges Scrapy and curl_cffi
# AI/ML & Orchestration
langchain
langchain-google-genai
pydantic
python-dotenv
curl_cffi>=0.7.0           # The core TLS impersonator
# Database
pymongo
certifi
tinydb

# API (For Day 6)
fastapi
uvicorn


# UI
streamlit
