# Web Scraping
scrapy
scrapy-playwright

# AI/ML & Orchestration
langchain
langchain-google-genai
pydantic
python-dotenv

# Database
pymongo
certifi
tinydb

# API (For Day 6)
fastapi
uvicorn


# UI
streamlit
